<!--=========================================================
<h2>Welcome to my home page</h2>
=========================================================-->
<div class="container">
	<div class="span-11 colborder">
		<h3>Research activities</h3>
				<ul>
				<li><%= link_to "Publications", 'publis' %> and <%= link_to "Talks", 'talks' %></li>
				<li><%= link_to "Projects and collaborations", 'projects' %></li>
				<li><%= link_to "Ph.D. Students", 'phds' %></li>
				<li>Other <%= link_to "Scientific activities", 'scientific' %></li>
				</ul>
			
	</div>
	<div class="span-11 last">
		<h3>Teaching activities</h3>
		<ul>
			<li><%= link_to "M.Sc. level (Master, ED)", 'teachingMaster' %></li>
			<li><%= link_to "B.Sc. level (Bac+2, DUT, Licence Pro)", 'teachingLicense' %></li>
		</ul>
	</div>
	<hr>
	<div class="span-22">	
		<h3>Ongoing and recent events</h3>
			<div class="span-11">	
			<ul>
				<li>Sept 27-Oct 3, 2014 <%= link_to "IEEE/ACM MODELS'2014 Conference", 'http://www.modelsconference.org/' %></li>
				<li>October 27, 2014 <%= link_to "IDM2014: De la modélisation scientifique à la modélisation de votre code", 'http://devlog.cnrs.fr/idm2014' %></li>
			</ul>
			</div>
			<div class="span-11 last">
			<ul>
			<li>October 10, 2013 <%= link_to "AgileTour'2013 Conference", 'http://tour.agiletoulouse.fr' %></li>
			<li>November 4-6, 2013 <%= link_to "ICSSEA'2013 Conference", 'http://icssea.enst.fr' %></li>
			<li>March 1-8, 2014 <%= link_to "IEEE Aerospace'2014 Conference", 'http://www.aeroconf.org' %></li>
		</ul>
	</div>
	<hr>
	<div class="span-22 last">	
		<h3>Others</h3>
		<div class="span-11">	
		<ul>
			<li><%= link_to "Professional activities", 'professional' %></li>
			<li><%= link_to "Consultancy", 'acdc' %></li>
		</ul>
		</div>
		<div class="span-11 last">
			<ul>
			<li>Short <%= link_to "Biography", 'bio' %>, CV (<%= link_to "full", 'CV.pdf' %>, <%= link_to "1 page", 'cv-1page.pdf' %>, both in French)</li>
			<li>And some other stuff, just for <%= link_to "fun", 'fun' %></li>
			</ul>
		</div>
	</div>
</div>
